@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

body{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.btn{
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}
.navigation__link{
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  text-decoration: none;
}

.navigation__link--current{
  color: #FCFCFC;
  background-color: #FF4A78;
}

.navigation__link-tel{
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.navigation__list--user .navigation__item:not(:first-child){
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(252, 252, 252, 0.3);
}

.slider__item-title{
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider__item-desc{
  font-size: 18px;
  line-height: 24px;
}

.slider__item-btn{
  color: #2D3440;
  background-color: #FCFCFC;
}

.gifts__desc{
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.gift__item{
  width: 570px;
  height: 268px;
}

.gift__item:nth-of-type(1){
  background-image: url("../images/raspberry.png");
  background-repeat: no-repeat;
  background-color: #FF7799;
  background-size: 219px 268px;
}

.gift__item:nth-of-type(2){
  background-image: url("../images/marshmallow.png");
  background-repeat: no-repeat;
  background-color: #FF7799;
  background-size: 219px 268px;
}

.gift__item-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.gift__item-btn{
  color: #2D3440;
  background-color: #FCFCFC;
}

.popular__desc{
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.product__card{
  background-color: #FCFCFC;
}

.product__card-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.product__card-desc{
  text-align: center;
  color: #565C66;
}

.product__card-price{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.product__card-btn{
  background-color: #FF2F64;
}

.wrapper__benefits{
  width: 1170px;
  height: 480px;
  background-image: url("../images/waffle.png");
  background-repeat: no-repeat;
}

.benefits{
  width: 1122px;
  height: 432px;
  background-color: #FFFFFF;
}

.benefits__desc{
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.benefits__item-desc{
  color: #565C66;
}

.preview{
  width: 570px;
  height: 224px;
  background-image: url("../images/serving_method.jpg");
  background-repeat: no-repeat;
  background-color: #FCFCFC;
}

.preview__subtitle{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.wrapper__newsletter{
  width: 570px;
  height: 224px;
  background-image: url("../images/red-blue_stripes.png");
  background-repeat: no-repeat;
}

.newsletter{
  width: 558px;
  height: 212px;
  background-color: #FFFFFF;
}

.newsletter__desc{
  color: #565C66;
}

.newsletter__btn{
  color: #FCFCFC;
  background-color: #FF2F64;
}

.delivery{
  width: 1170px;
  height: 534px;
  background-image: url("../images/ice_cream-delivery.jpg");
  background-repeat: no-repeat;
  background-color: #FCFCFC;
}

.delivery__title{
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.delivery__desc{
  color: #565C66;
}

.delivery__form{
  width: 500px;
  height: 406px;
  color: #2D3440;
  background-color: #FCFCFC;
}

.delivery__form-desc{
  color: #565C66;
}

.delivery__form label{
  font-weight: 700;
  line-height: 20px;
}

.delivery__btn{
  color: #FCFCFC;
  background-color: #FF2F64;
}

.wrapper__contacts{
  width: 1170px;
  height: 492px;
  color: #2D3440;
  background-image: url("../images/ice_cream-feedback.jpg");
  background-repeat: no-repeat;
  background-color: #FCFCFC;
}

.contacts{
  width: 343px;
  height: 364px;
  background-color: #FCFCFC;
}

.contacts__address{
  font-style: normal;
  color: #565C66;
}

.contacts__addres-text{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.contacts__phone{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  text-decoration: none;
}

.contacts__phone-schedule{
  font-size: 14px;
  line-height: 20px;
}

.contacts__feedback-btn{
  color: #FCFCFC;
  background-color: #FF2F64;
}

.more__link{
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.more__link--heart{
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.author__text{
  font-size: 12px;
  line-height: 16px;
}

.author__link{
  color: #2D3440;
  text-decoration: none;
}
