@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

.navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.navigation__logo {
  width: 137px;
  margin-right: 16px;
}

.navigation__list {
  min-width: 400px;
  margin: 0;
  padding: 0;
}

.navigation__list--user {
  min-width: 431px;
  margin-left: auto;
}

.navigation__link {
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  text-decoration: none;
}

.navigation__link--current {
  color: #FCFCFC;
  background-color: #FF4A78;
}

.navigation__list--user .navigation__item {
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(252, 252, 252, 0.3);
}

.navigation__list--user .navigation__item--tel {
  font-weight: 700;
  line-height: 20px;
  background-color: #FEAFC3;
}

.navigation__link-tel {
  color: #2D3440;
  text-decoration: none;
}

.page__index--container {
  width: 1170px;
  margin: 0 auto;
  flex-grow: 1;
}

.slider__item {
  display: flex;
}

.slider__item-title {
  width: 470px;
  margin: 0;
  margin-left: 70px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider__item-desc {
  width: 414px;
  margin: 0;
  margin-left: 70px;
  font-size: 18px;
  line-height: 24px;
}

.slider__item-btn {
  margin-left: 70px;
  color: #2D3440;
  background-color: #FCFCFC;
}

.slider__item-img {
  display: block;
  width: 306px;
  height: 507px;
}

.gifts__desc {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.gifts__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.gift__item {
  width: 570px;
  height: 268px;
}

.gift__item--raspberry {
  background-image: url("../images/raspberry.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #FF7799;
  background-size: 219px 268px;
}

.gift__item--marshmallow {
  background-image: url("../images/marshmallow.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #FF7799;
  background-size: 219px 268px;
}

.gift__item-title {
  width: 254px;
  margin-left: 36px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.gift__item-desc {
  width: 328px;
  margin-left: 36px;
}

.gift__item-btn {
  margin-left: 36px;
  color: #2D3440;
  background-color: #FCFCFC;
}

.popular__desc {
  width: 527px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.popular__product-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.product__card {
  width: 270px;
  margin-right: 30px;
  background-color: #FCFCFC;
}

.product__card:nth-child(4n) {
  margin-right: 0;
}

.product__card-link {
  text-decoration: none;
}

.product__card-img {
  display: block;
  margin: 0 auto;
}

.product__card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2D3440;
}

.product__card-desc {
  text-align: center;
  color: #565C66;
}

.product__card-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.product__card-btn {
  background-color: #FF2F64;
}

.wrapper__benefits {
  width: 1170px;
  height: 480px;
  background-image: url("../images/waffle.png");
  background-repeat: no-repeat;
}

.benefits {
  width: 1122px;
  height: 432px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.benefits__list{
  margin: 0;
  padding: 0;
}

.benefits__desc {
  width: 995px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.benefits__item-desc {
  margin: 0;
  padding: 0;
  color: #565C66;
}

.container__preview-newsletter {
  display: flex;
  justify-content: space-between;
}

.preview {
  width: 570px;
  height: 224px;
  background-image: url("../images/serving_method.jpg");
  background-repeat: no-repeat;
  background-color: #FCFCFC;
}

.preview__title {
  width: 170px;
  margin-left: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565C66;
}

.preview__subtitle {
  width: 303px;
  margin-left: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.wrapper__newsletter {
  width: 570px;
  height: 224px;
  background-image: url("../images/red-blue_stripes.png");
  background-repeat: no-repeat;
}

.newsletter {
  width: 506px;
  margin: 0 auto;
  padding: 26px;
  background-color: #FFFFFF;
}

.newsletter__desc {
  width: 506px;
  margin: 0;
  padding: 0;
  color: #565C66;
}

.newsletter__form {
  min-width: 506px;
}

.newsletter__email {
  width: 332px;
  margin-right: 14px;
  font-family: inherit;
  line-height: 20px;
  color: #B9B9B9;
}

.newsletter__btn {
  color: #FCFCFC;
  background-color: #FF2F64;
}

.delivery {
  display: flex;
  width: 1170px;
  height: 534px;
  background-image: url("../images/ice_cream-delivery.jpg");
  background-repeat: no-repeat;
  background-color: #FCFCFC;
}

.delivery__text {
  margin-left: 100px;
}

.delivery__text-title {
  width: 356px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.delivery__text-desc {
  width: 371px;
  color: #565C66;
}

.delivery__form {
  width: 500px;
  height: 406px;
  margin-left: 135px;
  color: #2D3440;
  background-color: #FCFCFC;
}

.delivery__form-desc {
  color: #565C66;
}

.delivery__form label {
  font-weight: 700;
  line-height: 20px;
}

.delivery__form input {
  font-family: inherit;
  line-height: 20px;
  color: #B9B9B9;
}

.delivery__btn {
  color: #FCFCFC;
  background-color: #FF2F64;
}

.wrapper__contacts {
  width: 1170px;
  height: 492px;
  color: #2D3440;
  background-image: url("../images/ice_cream-feedback.jpg");
  background-repeat: no-repeat;
  background-color: #FCFCFC;
}

.contacts {
  width: 343px;
  height: 364px;
  margin-left: 64px;
  background-color: #FCFCFC;
}

.contacts__address {
  font-style: normal;
  color: #565C66;
}

.contacts__address-subtitle {
  width: 179px;
}

.contacts__addres-text {
  width: 263px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.contacts__phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  text-decoration: none;
}

.contacts__phone-schedule {
  font-size: 14px;
  line-height: 20px;
}

.contacts__feedback-btn {
  color: #FCFCFC;
  background-color: #FF2F64;
}

.page__footer {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.page__footer-social {
  width: 104px;
  margin-right: 299px;
}

.page__footer-more {
  width: 356px;
}

.more__link {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.more__link--heart {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.page__footer-author {
  width: 193px;
  margin-left: auto;
}

.author__text {
  font-size: 12px;
  line-height: 16px;
}

.author__link {
  color: #2D3440;
  text-decoration: none;
}

/*catalog*/

.page__inner--container {
  width: 1170px;
  margin: 0 auto;
  flex-grow: 1;
}

.breadcrumbs__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.page__inner-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.catalog__filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 823px;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.catalog__filter-select {
  color: inherit;
  background-color: rgba(252, 252, 252, 0.3);
}

.catalog__filter-list {
  background-color: rgba(252, 252, 252, 0.3);
}

.catalog__filters-btn {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);;
}

.catalog__product-list{
  margin: 0;
  padding: 0;
}

.catalog__product-card {
  background-color: #FCFCFC;
}

.pagination__show-more {
  color: #2D3440;
  background-color:#FCFCFC;
}

.pagination__link {
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.pagination__link--current {
  background-color: #FCFCFC;
}
